$color-primary: #49b884;
$color-dark: #1e1e1e;
$color-light: #fafafa;
$color-gray: darken($color-light, 50%);

$theme-colors: (
  primary: $color-primary,
  dark: $color-dark,
  gray: $color-gray,
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  background: $color-dark;
  color: $color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-app-region: drag
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  span {
    width: 5em;
    height: 5em;
  }
}

.list-group-item {
  background: darken($color-light, 85%);
  color: $color-light;
  border-radius: 0 !important;

  &:hover,
  &:focus {
    background: darken($color-light, 80%);
    outline: 0;
  }
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}

video {
  -webkit-appearance:none;

  &::-webkit-media-controls-panel {
    -webkit-app-region: no-drag;
    background-color: $color-dark;
    filter: saturate(0);
  }

  // &::-webkit-media-controls-timeline {
  //   background-color: $color-gray;
  // }

  // &::-webkit-media-controls-volume-slider-container,
  // &::-webkit-media-controls-volume-slider,
  // &::-webkit-media-controls-seek-forward-button
  // {
  //   background-color: $color-gray;
  // }

  // &::-webkit-media-controls-current-time-display,
  // &::-webkit-media-controls-time-remaining-display,
  // &::-webkit-media-controls-mute-button  {
  //   color: $color-gray
  // }
}
