$color-primary: #0098CB;
$color-dark: #262626;
$color-light: #fafafa;
$color-red: #f33d35;
$color-gray: darken($color-light, 50%);

$theme-colors: (
  primary: $color-red,
  dark: $color-dark,
  danger: $color-red,
  gray: $color-gray,
);

@import '~bootstrap/scss/bootstrap.scss';

* {
  cursor: default;
}

body {
  user-select: none;
  background-color: rgba(0,0,0,0.3);
  color: $color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-app-region: drag
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  span {
    width: 5em;
    height: 5em;
  }
}

button {
  cursor: default !important;
}

.sidebar {
  border-right: 1px solid darken($color-light, 85%) !important;

  header {
    background-color: rgba(0,0,0,0.4);
  }
}

.list-group-item {
  background: transparent;
  color: $color-light;
  border-radius: 0 !important;
  height: 55px;
  display: flex;


  &:hover,
  &:focus,
  &.active {
    background: darken($color-light, 65%);
    border-color: $color-dark;
    outline: 0;
  }
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}

.video-pane {
  background: darken($color-dark, 5%)
}

video {
  -webkit-appearance:none;

  &::-webkit-media-controls-panel {
    -webkit-app-region: no-drag;
    background-color: $color-dark;
    filter: saturate(0);
  }
}

span.version {
  font-size: 0.75rem;
  display: inline-block;
}

.dark-mode {
  body {

  }
}
